@charset "UTF-8";
@import url(./reset.css);

#wrap {width:1200px; margin:0 auto; position: relative;}

/* header */
#wrap #header {width:100%; height:100px; display: flex; background:#5e89ca; position: relative; z-index: 3;}

/* logo */
#wrap #header .left {width:200px; height:100%;display: flex; justify-content: center; align-items: center;}
#wrap #header .left h1 {width:100%;}
#wrap #header .left h1 a {display:block; width:100%; height:40px; display: flex; justify-content: center; align-items: center;}
#wrap #header .left h1 a img {width:60%;}

/* menu */
#wrap #header .right {width:1000px; height:100%;}
#wrap #header .right #nav {width:700px; height: 50px; margin: 50px 20px 0 auto;}
#wrap #header .right #nav > ul {display: flex; }
#wrap #header .right #nav > ul > li  {width:25%;}
#wrap #header .right #nav > ul > li > a {width:100%; height:50px; display: flex; justify-content: center; align-items: center; font-size: 16px; font-weight: 500; color:#fff; border: 1px solid rgba(255,255,255,.3); border-right:0; transition: all .3s;}
#wrap #header .right #nav > ul > li > a:hover {background:#434748; border-bottom:0;}
#wrap #header .right #nav > ul > li > a.on {background:#434748; border-bottom:0;}


/* last childe border */
#wrap #header .right #nav > ul > li:last-child > a {border-right:1px solid rgba(255,255,255,.3);}


/* sub menu */
#wrap #header .right #nav > ul > li .sub {width:100%; position:absolute; top:100px; left:0; background:#434748;}
#wrap #header .right #nav > ul > li .sub .container {width:700px; margin: 0 20px 0 auto;background:#434748;}
#wrap #header .right #nav > ul > li .sub .container > ul {width:100%; display: flex; padding: 10px 0;}
#wrap #header .right #nav > ul > li .sub .container > ul > li {width:25%;}
#wrap #header .right #nav > ul > li .sub .container > ul > li ul {width:100%;}
#wrap #header .right #nav > ul > li .sub .container > ul > li ul li  {width:100%;}
#wrap #header .right #nav > ul > li .sub .container > ul > li ul li a  {display: flex; justify-content: center; align-items: center; color:#fff; width:100%; height:40px}
#wrap #header .right #nav > ul > li .sub .container > ul > li ul li a:hover  {background:#5e89ca;}


/* 
sub menu 1 
sub menu 2
sub menu 3
sub menu 4 
*/
#wrap #header .right #nav > ul > li .sub1 {display: none;}
#wrap #header .right #nav > ul > li .sub2 {display: none;}
#wrap #header .right #nav > ul > li .sub3 {display: none;}
#wrap #header .right #nav > ul > li .sub4 {display: none;}
#wrap #header .right #nav > ul > li .sub1.on {display: block;}
#wrap #header .right #nav > ul > li .sub2.on {display: block;}
#wrap #header .right #nav > ul > li .sub3.on {display: block;}
#wrap #header .right #nav > ul > li .sub4.on {display: block;}



/* main */
#wrap #main {width:100%; z-index: 2; position: relative;}

/* slide */
#wrap #main #section1 {width:100%; height: 300px;background-color:#fff;}
#wrap #main #section1 .slide-container {width:100%;}
#wrap #main #section1 .slide-container .slide-view {width:100%; height: 300px; overflow: hidden;}
#wrap #main #section1 .slide-container .slide-view .slide-wrap {width:calc(100%*5); display: flex; margin-left:-100%; position: relative; left:calc(-100%*0)}
#wrap #main #section1 .slide-container .slide-view .slide-wrap .slide {width:100%; position: relative;}
#wrap #main #section1 .slide-container .slide-view .slide-wrap .slide a img {width:100%;}

/* slide text */
#wrap #main #section1 .slide-container .slide-view .slide-wrap .slide::after {content:''; position:absolute; top:50%; left:0; text-align: center; font-size:60px; color:#fff; font-weight: 500; margin-top: -30px;width:100%;}
#wrap #main #section1 .slide-container .slide-view .slide-wrap .slide1::after {content:'Green 복지재단1';}#wrap #main #section1 .slide-container .slide-view .slide-wrap .slide2::after {content:'Green 복지재단2';}#wrap #main #section1 .slide-container .slide-view .slide-wrap .slide3::after {content:'Green 복지재단3';}

#wrap #main #section2 {width:100%; height:200px; padding: 10px 0; display: flex; justify-content: space-between;}
/* notice */
#wrap #main #section2 .left {width:393.3333333px; height: 100%; position:relative; padding: 40px 0 0 0;}

#wrap #main #section2 .board  button {width:100px;height:41px;position:absolute;top:0;left:10px;border:1px solid #ccc;border-bottom:0;border-radius:5px;background:#fff;z-index:2;}
#wrap #main #section2 .board .board-box {width:100%;height:100%;background: #fff;border: 1px solid #ccc;z-index:1;position: relative;}
#wrap #main #section2 .board .board-box .gap {padding:15px 10px} 
#wrap #main #section2 .board .board-box .gap ul {width:100%;}

#wrap #main #section2 .left .board-box .gap ul li {height: 27px;display: flex;align-items: center;justify-content: space-between;position: relative;padding:0 0 0 10px;} 
#wrap #main #section2 .left .board-box .gap ul li:before {content:'';position: absolute;top:50%;left:0;width:2px;height:2px;margin:-1px;background:#333;}
#wrap #main #section2 .left .board-box .gap ul li a {color:#555;}
#wrap #main #section2 .left .board-box .gap ul li a:hover {color:#000;text-decoration: underline;}
#wrap #main #section2 .left .board-box .gap ul li span {color:#777;}

/* gallery */
#wrap #main #section2 .center {width:393.3333333px;height:100%;position: relative;padding:40px 0 0 0;}
#wrap #main #section2 .center .gallery-box {display: flex;align-items: center; justify-content:space-evenly;}
#wrap #main #section2 .center .gallery-box a img {width:100px;border:1px solid #ddd;}

/* banner */
#wrap #main #section2 .right  {width:393.3333333px;height:100%;}
#wrap #main #section2 .right .banner {border:1px solid #ccc;width:100%;height:100%;border-radius:50px 5px 0 0;}
#wrap #main #section2 .right .banner .title {height:40px;width:100%;display: flex;align-items: center;justify-content: center;}
#wrap #main #section2 .right .banner .title h2 {font-size:15px;font-weight:500;color:#1d8844;}
#wrap #main #section2 .right .banner .img-box {width:100%;height:140px;display: flex;align-items: center;justify-content: center;}
#wrap #main #section2 .right .banner .img-box a img {height:120px;border-radius:30px 0  0 0;border:1px solid #ddd;}

/* footer */
#wrap #footer {width:100%;height:100px;display: flex;justify-content: space-between;position: relative;z-index:1;}
#wrap #footer .left   {width:200px;height:100%;display: flex;align-items: center;justify-content: center;border:1px solid #ccc;}
#wrap #footer .left  h1 {width:100%;}
#wrap #footer .left  h1 a {display:block;width:100%;height:40px;display: flex;align-items: center;justify-content: center;}
#wrap #footer .left  h1 a img {width:60%;opacity: .3;}

#wrap #footer .center {width:780px;height:100%;text-align: center;border:1px solid #ccc;}
#wrap #footer .center .row1 {width:100%;height:50%;display: flex;align-items: center;justify-content: center;}
#wrap #footer .center .row1 span {display: inline-block;}
#wrap #footer .center .row1 span a {color:#999;font-size:14px;}
#wrap #footer .center .row1 span a:hover {color:#000;}
#wrap #footer .center .row1 span i {margin:0 10px;color:#ccc;}

#wrap #footer .center .row2 {width:100%;height:50%;display: flex;align-items: center;justify-content: center;}
#wrap #footer .center .row2 p {color:#999;font-size:11px;}

#wrap #footer .right  {width:200px;height:100%;border:1px solid #ccc;display: flex;align-items: center;justify-content: center;}
#wrap #footer .right  select {width:80%;height:30px;border:1px solid #ddd;padding:0 0 0 10px;color:#555;}


/* modal */

#wrap .modal {position: fixed;z-index:4;background:rgba(0,0,0, .7);width:100%;height:100%;top:0;left:0;}
#wrap .modal .wrap {width:100%;height:100%;display: flex;align-items: center;justify-content: center;}
#wrap .modal .wrap .container {width:500px;background:#fff;}
#wrap .modal .wrap .container .gap {padding:0px;}
#wrap .modal .wrap .container .gap .title {width:100%;height:60px;display: flex;align-items: center;justify-content:flex-start;border-top:1px solid #ccc;border-bottom:1px solid #ccc;}
#wrap .modal .wrap .container .gap .title h1 {font-size: 18px;font-weight:500;color:#222;padding:0 0 0 20px;}
#wrap .modal .wrap .container .gap .content {padding:20px 15px;}
#wrap .modal .wrap .container .gap .content ol {padding:0 0 0 20px;}
#wrap .modal .wrap .container .gap .content ol li {padding:5px 0;font-size:14px;color:#555;}
#wrap .modal .wrap .container .gap .button-box {width:100%;height:60px;display: flex;align-items: center;justify-content:flex-end;padding:0 20px;}
#wrap .modal .wrap .container .gap .button-box button {height:35px;padding:0 20px;}


